.form {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #000000;
    align-content: center;
    flex-wrap: wrap;
    padding: 30px 36px 35px 25px;
}

@media screen and (max-width: 520px) {
    .form {
        padding: 30px 22px 15px;
    }
}
